.app{
  display: grid;
  background-color: black;
  place-items: center;
}
.container{
  position: relative;
  height: 90vh;
  width: 50.625vh;
  overflow: scroll;
  border-radius: 20px;
}
.container::-webkit-scrollbar {
display: none;
}
.container {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}
html{
scroll-snap-type: y mandatory;}